h3{
    text-align: center;
    border:10px;
    border-color: black;
    background-color: rgb(223, 236, 248);
    padding-top: 2px;
    padding-bottom: 5px;
}

input[type=text]{
    display:block;
    width: 300px;
    margin-bottom: opx;
    text-align:center;
    margin-left: 100px;
}

input[type=email]{
    display:block;
    width: 300px;
    margin-bottom: opx;
    text-align:center;
    margin-left:100px;
}

div{
    padding:0px 20px 0px 20px;
    
}

label{
    margin-left: 100px;
    margin-right: 320px;
    }

label[for=fname], label[for=lname]{
    margin-bottom: 3px;
}

p{
    padding-left:50px; 
    
}


   /* radio buttons */
.p-1{
    margin-top: 1px;
    margin-right: 35px;
    margin-bottom: 1px;
    margin-left: 63px;
    /* padding-left: 30px;
    padding-right:30px; */
}

/* for rating row */
.p-2{
    margin-top: 1px;
    margin-right: 15px;
    margin-bottom: 1px;
    margin-left: 65px;
}



 .ra2{
    margin-right: 5px;
 } 
 .ra3{
    margin-left: 20px;
 }

.flex-row{
    display: flex;
    align-items: center;
}

.flex-row1{
    display:flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 70px;
    background-color: aliceblue;
    border: 5px;
}

.flex-row2{
    display:flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 70px;
    background-color: rgb(240, 241, 243);
    border: 5px;
}

.fa-star{
   background-color:yellow;
   }

   .star{
    padding-left: 50px;
   }

   .likely{
    padding-left: 60px;
   }
/* .radio1{
    padding-right:0px;
} */