h3{
    text-align: center;
    border:10px;
    border-color: black;
    background-color: #f2f2f2;
    padding-top: 2px;
    padding-bottom: 5px;
}

input[type=text]{
    display:block;
    width: 300px;
    margin-bottom: opx;
    text-align:center;
    margin-left: 50px;
}

input[type=email]{
    display:block;
    width: 300px;
    margin-bottom: opx;
    text-align:center;
    margin-left:50px;
}

div{
    padding:0px 20px 0px 20px;
    
}

label{
    margin:5px 50px 5px 50px;
    }
label[for=comments]{
    margin-top: 10px;
    margin-bottom: 5px;
}
label[for=fname], label[for=lname]{
    margin-bottom: 3px;
}

p{
    padding-left:50px; 
    
}

tbody{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* .tbody1{
    
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  } */

  td{
    padding-left: 10px;
    padding-right: 10px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
}

  .table1{
      margin-left:0px;
  }

  .fa-star{
    background-color:yellow;
    margin-left: 30px !important;
    }

    textarea{
        margin-left: 40px;
    }

    button{
        background-color: #f2f2f2;
        border: 10px;
        border-color: black;
        width:90px;
        margin-left: 40px;
    }

    